body {
  background: blue;
  text-align: center;
  vertical-align: middle;
  font-size: 5rem;
}

.a, .b, .c, .d, .e, .f, .g, .h {
  justify-content: center;
  background-color: darkgray;
  border: black solid 3px;
  vertical-align: middle;
  align-items: center;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.a {
  height: 150px;
}

.h {
  height: 400px;
  gap: 1rem;
}

.b, .c, .d, .e, .f, .g {
  height: 200px;
}

.bcdefg-wrap {
  display: flex;  
  gap: 1rem;
  justify-content: space-between;
  flex-direction: column;
}

.efg-wrap {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.bcd-wrap {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.b {
  width: 33.333%;
}

.c {
  width: 33.333%;
}

.d {
  width: 33.333%;
}

.e {
  width: 33.333%;
}

.f {
  width: 33.333%;
}

.g {
  width: 33.333%;
}


@media only screen and (min-width: 992px) {
  .h {
    height: auto;
    width: 25%;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .bcdefg-wrap {
    width: 75%;
    gap: 1rem;
  }

  .bcdefgh-wrap {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .a, .b, .c, .d, .e, .f, .g {
    height: 300px;
  }
}
